---
galaxy_info:
  author: Jim Tarpley (@trippsc2)
  namespace: trippsc2
  role_name: signed_certificate
  description: This role signs a certificate using Hashicorp Vault.

  license: MIT

  min_ansible_version: '2.16'

  platforms:
    - name: Debian
      versions:
        - bookworm
    - name: EL
      versions:
        - '9'
        - '8'
    - name: Ubuntu
      versions:
        - noble
        - jammy
    - name: Windows
      versions:
        - all

collections:
  - ansible.windows
  - trippsc2.general

dependencies:
  - role: trippsc2.general.generate_csr
